*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.lpl h1{
    font-family: 'Bebas Neue';
    font-size: 45px;
    color: #ffff;
    margin: 5%;
    padding: 20px;
    background-color: #240cf7;
    text-align: center;
}

.lpl p{
    text-align: center;
}

.lpl h2{
    text-align: center;
    font-family: 'Work Sans';
    font-size: 25px;
}

.lpl2{
    font-family: 'Bebas Neue';
    font-size: 30px;
    color: #ffff;
    margin: 5%;
    padding: 20px;
    background-color: #240cf7;
    text-align: center;
}

